* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    background: url(Images/last\ one.jpg) no-repeat center center fixed;
    background-size: cover;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    background: rgba(87, 86, 86, 0.445);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: tomato;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 400;
    margin-left: 50px;
    position: relative; 
}

.navbar a:hover {
    color: tomato; 
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: tomato; 
    visibility: hidden; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease, visibility 0s 0.3s;
    
}

.navbar a:hover::after {
    visibility: visible; 
    transform: scaleX(1); 
    transform-origin: bottom left;
    transition: transform 0.5s;
}


.hero {
    position: relative;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(Images/frontone\ .jpg) no-repeat center center;
    background-size: cover;
    filter: blur(0px); 
    z-index: 0;
}

.hero > * {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 100px;
    color: rgb(243, 96, 70);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-top: 6%;
}

.para {
    font-family: 'Birthstone';  
    text-align: left;
    margin-right: 50%;
    font-size: 20px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}

.button-76 {
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.75rem;
    padding: 1rem 1.2rem;
    text-align: center;
    margin-top: 4%;
    margin-right: 85%;
}

.button-76:hover {
    box-shadow: #fff;
}

.services {
    background: url(Images/carwasher.webp) no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

.services h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}

.cardbox {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.cards {
    background-color: rgba(0, 0, 0, 0.568);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 20px;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.cardcontent h2 {
    color: tomato;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}

.cardcontent p{
    margin-top: 5%;
    color: white;
}

.button {
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 1rem 1.25rem;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.feedback {
    padding: 40px 0;
    text-align: center;
    background-image: url(Images/ero.webp);
    background-size: cover;
}

.feedback h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}

.feedcontent p{
    font-family: 'Mea Culpa';
    margin-top: 5%;
    color: white;
    font-size: 25px;
}

.FEEDBACK {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.feedcard {
    background-color: rgba(0, 0, 0, 0.671);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}

.feedcontent h2 {
    color: tomato;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}

#contact {
    background-color: rgba(23, 24, 24, 0.76);
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -6px -6px 15px rgba(0, 0, 0, 0.3);
}


.contact-form input,
.contact-form textarea {
    width: 50%; 
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto; 
}

.contact-form input{
    display: inline-block;
    width: 25%;
}


.contact-form button {
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 1rem 1.25rem;
    text-align: center;
    width: 50%; 
    margin-left: auto;
    margin-right: auto; 
}


@media only screen and (max-width: 768px) {
   
    .header {
        padding: 10px 20px; 
    }

    .logo {
        font-size: 24px; 
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }

    .navbar a {
        font-size: 16px; 
        margin: 5px; 
    }


    .hero h1 {
        margin-top: 50px;
        font-size: 40px;
    }

    .para {
        font-size: 16px; 
        margin-right: 10%;
        margin-top: 20px;
    }
    .button-76{
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1rem;
        padding: 0.3rem 2rem;
    }

    
    .services h1 {
        font-size: 60px; 
    }

    .cardbox {
        flex-direction: column;
        align-items: center; 
    }

    .cards {
        width: 80%; 
        margin-bottom: 20px; 
    }

    .cardcontent h2 {
        font-size: 28px; 
    }

   
    .feedback h1 {
        font-size: 60px; 
    }

    .FEEDBACK {
        flex-direction: column;
        align-items: center;
    }

    .feedcard {
        width: 80%; 
    }

    .feedcontent h2 {
        font-size: 28px; 
    }

    
    #contact h2 {
        font-size: 30px; 
    }

    .contact-form input,
    .contact-form textarea {
        padding: 12px;
        font-size: 14px;
    }

    .contact-form button {
        font-size: 16px;
        padding: 12px;
    }
   
}
